.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header_ {
    width: 100%;
  }
}

.header__nav ul {
  display: flex;
}

.header__nav-item {
  margin-right: 60px;
  font-size: 14px;
  font-weight: 400;
}

.header__title {
  font-size: 26px;
  font-weight: 900;
  color: #37447e;
}

.header__button-learn-more {
  background: #111b47;
  color: #fff;
  width: 104px;
  height: 26px;
  font-size: 12px;
  font-weight: 500;
}

.header__button-buy-now {
  background: #ffd166;
  width: 104px;
  height: 26px;
  color: #111b47;
  font-weight: 500;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    display: block;
  }
  .header__button-learn-more {
    margin-bottom: 15px;
  }
}

/* @media screen and (max-width: 768px) {
  #menu-items {
    display: none;
  }
} */
.burger__div {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger__div {
    display: flex;
    justify-content: left;
  }

  .standart__screen {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

  .close-menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  .menu-icon {
    font-size: 30px;
    cursor: pointer;
    margin-top: 15px;
  }

  .menu__box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }

  .menu-toggle:checked + .menu-icon + .menu__box {
    height: 20%;
    padding-top: 30px;
  }
}
