.custom-spinner {
    animation: spin 10s linear infinite; /* Set the duration to 2 seconds */
}

/* Keyframes for spinner animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}