footer {
  background-color: #e7ecff;
  padding: 37px 0 30px;
  height: 282px;
  max-width: 100%;
}
.footer__branding {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* .footer__navigation {
  display: flex;
  justify-content: center;
} */
.footer__branding__date {
  color: #939ea4;
  font-size: 14px;
  font-weight: 500;
}
.footer__branding__logo {
  color: #37447e;
  font-size: 26px;
  font-weight: 900;
}
.footer__hr {
  background: #cdd1d4;
  margin: 40px 0 20px;
  height: 1px;
  border: 0;
}
.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_button {
  background: #111b47;
  width: 109px;
  height: 26px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
}
.footer_button:hover {
  transform: scale(1.1);
}

.footer__links {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
}

.footer__links ul {
  display: flex;
  /* justify-content: center; */
  padding-top: 22px;
  padding-bottom: 22px;
  margin: 0;
}
.footer__links li {
  margin-right: 40px;
}
.footer__links a {
  color: #929ecc;
}

.footer__social__link {
  width: 16px;
  height: 16px;
}
.footer__social {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer__social__link {
  width: 40px;
}
/* @media screen and (max-width: 768px) {
  .footer__navigation,
  .footer__branding,
  .footer__links ul {
    flex-direction: column;
  }

  .footer__branding > * {
    margin-bottom: 15px;
  }

  .footer__links li {
    margin-right: 0;
    margin-bottom: 24px;
  }
} */

@media screen and (max-width: 768px) {
  .footer {
    display: block;
  }
  .footer__navigation {
    display: block;
  }

  .footer__branding {
    /* margin-left: 120px; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .footer__branding__date {
    margin-top: 20px;
  }

  .footer__branding__logo {
    margin-top: 20px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
  }
}
